
*{
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* box-sizing: border-box; */
  overflow-x: hidden;
}
body, html{
margin: auto;
max-width: 1440px;

}
main{
  text-align: center;
}
.logo_div{
  padding: 16px 0;
}
.content{
  max-width: 700px;
  width: 100%;
  margin: auto !important;
}
.content_body{
  margin: 80px auto;
}
.header{
  font-size: 30px;
  margin: 40px 0 16px;
}
.login_link_container span:first-child{
 color: rgba(107,114,128)
}

.login_link_container span:last-child a{
  color: rgba(239,68,68)
}

form{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.form_div{
  display: flex;
  flex-direction: column;
  text-align: left;
}
.form_div input{
  margin-top: 12px;
  padding: 12px 16px;
}
.submit button{
  background-color: #fb3440;
  border: none;
  outline: none;
  width: 100%;
  color:  #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: .125rem;
  border: 1px solid #da8301!important;
}